@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Warnes&display=swap');

body {
    background-color: white;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #5DADEC;
}

body > div.main {

    background-color: inherit;
    /*font-size: 50px;*/
    font-size: calc(40px + 1.4vw);
    word-spacing: 10px;
    position: relative;
    top: 30%;
}

body > div.main > div.aside {

    position: relative;
    width: 20%;
    background-color: inherit;
    z-index: 2;
    height: 100px;
    float: left;

}

body > div.main > div.container {

    width: 60%;
    z-index: -1;
    position: relative;
    height: 100px;
    float: left;
    background-color: black;
    color: #FF00CC;
    overflow: hidden;

}

body > div.main > div.container > div.contained {

    float: right;
    position: relative;
    line-height: 100px;
    background-color: inherit;
    white-space: nowrap;
    font-family: 'Monoton', cursive;
    visibility: hidden;

}

@media only screen and (max-width: 1200px) {

    body > div.main > div.aside {

        width: 15%;

    }
    
    body > div.main > div.container {
    
        width: 70%;
    
    }
}

@media only screen and (max-width: 800px) {

    body > div.main > div.aside {

        width: 10%;

    }
    
    body > div.main > div.container {
    
        width: 80%;
    
    }
}

@media only screen and (max-width: 414px) {

    body > div.main > div.aside {

        width: 5%;

    }
    
    body > div.main > div.container {
    
        width: 90%;
    
    }
}